<div>
  <form method='POST' action='/links' >
    <h3> URL: </h3> <input type='text' name='url'> <br>
    <h3> TITLE: </h3> <input type='text' name='title'> <br>s
    <input type='submit' value='Create link'>
  </form>
</div>